body {
    overflow-x: hidden;
    background: black;
    /*background-image: url(../images/stars.png);*/
}


/* typography */
h1, h2 {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: normal;
}
h1 {
    font-size: 5em;
    font-weight: bold;
    margin: 10px;
    letter-spacing: .3em;
    text-transform: uppercase;
    padding-top: 42px;
    padding-bottom: 42px;
}
h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .25em;
}
h3 {
    font-size: 1.75em;
}
h4 {
    font-size: 1.3em;
    text-align: center;
}
p {
    line-height: 1.8;
    font-size: 1.2em;
    letter-spacing: normal;
    color: white;
}
h3, h4, h5 {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: normal;
}
h1, h2 {
  background: -webkit-linear-gradient(left, rgba(244,50,215,1), rgba(105,193,209,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h3, h4, h5 {
  background: -webkit-linear-gradient(left, rgba(105,193,209,1), rgba(244,50,215,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-family: 'Raleway', sans-serif;
  letter-spacing: normal;
}

.centered {
  width: 33%;

}

.question-container {
  background-color: black;
}

.question-container a {
  color: rgba(244,50,215,1);
}

/* responsive */
@media screen and (max-width: 35.5em) {
    h1 {
        padding: 0;
        margin: 0 0 .25em 0;
    }
    h2 {
        font-size: 1.7em;
        letter-spacing: .1em
    }
    h3 {
        font-size: 1.5em;
        margin-bottom: 0;
        margin-top: .5em;
    }
    p {
        font-size: 1em;
    }
    .schedule-table td {
        font-size: .8em;
        padding: .2em .8em;
    }
    #header-sub h2 {
        font-size: 1.2em;
    }
    #quick-facts h3 {
        letter-spacing: .2em;
    }
    .panel {
        padding: 0 1em 0 1em;
    }
    .default-padding {
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 0;
    }
    #panel-controls {
        padding-left: 1em;
    }
    .question-container {
        margin-bottom: 2em;
    }
    footer h3{
        text-align: center;
    }
    .links button {
        padding: .7em;
        margin: 1em .5em 0 0;
        font-size: .9em;
    }
}
@media screen and (min-width: 35.5em) and (max-width: 48em)	{
    h1 {
        padding: 0;
        margin: 0 0 .25em 0;
    }
    h2 {
        font-size: 1.7em;
        letter-spacing: .1em
    }
    h3 {
        font-size: 1.5em;
        margin-bottom: 0;
        margin-top: .5em;
    }
    p {
        font-size: 1.1em;
        letter-spacing: normal;
    }
    .schedule-table td {
        letter-spacing: normal;
        font-size: 1.1em;
        padding: .2em .8em;
    }
    #header-sub h2 {
        font-size: 1.5em;
    }
    #quick-facts h3 {
        letter-spacing: .25em;
    }
    .panel {
        padding: 0 1em 0 1em;
    }
    .default-padding {
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 0;
    }
    #panel-controls {
        padding-left: 1em;
    }
    .question-container {
        margin-bottom: 2em;
    }
    footer h3{
        text-align: center;
    }
    .links button {
        padding: .7em;
        margin: 2em 1em 0 0;
        font-size: 1.2em;
    }

}
@media screen and (min-width:48em) and (max-width: 80em)	{
    h1 {
        padding: .2em;
    }
    .schedule-table td {
        letter-spacing: normal;
        font-size: 1.1em;
        padding: .2em .8em;
    }
    #header-sub h2 {
        font-size: 1.5em;
    }
    .panel {
        padding: 0 1em 0 1em;
    }
    .default-padding {
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 0;
    }
    #panel-controls {
        padding-left: 1em;
    }
    .links button {
        padding: .7em;
        margin: 2em 1em 0 0;
        font-size: 1.2em;
    }
}
@media screen and (min-width: 80em)	 {
    #quick-facts h3 {
        letter-spacing: .25em;
    }
    .panel {
        padding: 0 4em 0 4em;
    }
    .default-padding {
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 2em;
    }
    .scroll-top {
        display: none;
    }
    .question-container {
        margin-bottom: 3.5em;
    }
    .schedule-table td {
        padding: .5em 1em;
        font-size: 1.2em;
    }
    .links button {
        padding: .7em;
        margin: 2em 1em 0 0;
        font-size: 1.2em;
    }
}


/* spacing */
section {
    margin: 0;
    width: 100%;
}


/* panel */
#panel-controls {
    margin-top: 2em;
    margin-left: 0;
}
#panel-controls button {
    margin-right: 1em;
}
#panel-controls h2 {
    margin-left: 0;
}
.panel section{
    width : 100%;
    display: none;
}
.panel section.current {
    display: block;
}
#panel-controls .current h2{
    color: rgba(105,193,209);
}
#panel-controls .current .icon {
    display: inline-block;
}
#panel-controls .icon {
    display: none;
}
#panel-controls .default-padding {
    padding-bottom: 0;
}


/* header */
header {
    background: -webkit-linear-gradient(
                  rgba(105,193,209,0.5),
                  rgba(244,50,215,0.5),
                  black,
                  black),
                  url(../images/stars.png);
    background: -o-linear-gradient(
                  rgba(105,193,209,0.5),
                  rgba(244,50,215,0.5),
                  black,
                  black),
                  url(../images/stars.png);
    background: -moz-linear-gradient(
                  rgba(105,193,209,0.5),
                  rgba(244,50,215,0.5),
                  black,
                  black),
                  url(../images/stars.png);
    background: linear-gradient(
                  rgba(105,193,209,0.5),
                  rgba(244,50,215,0.5),
                  black,
                  black),
                  url(../images/stars.png);
    top: 0;
}
#header-sub {
    padding: 2em 1em 2em 1em;
    margin: 0;
    text-align: center;
    margin-top: 7em;
    position: relative;
    background-image: url(../images/mountains.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.logo {
    display: block;
    margin: auto;
    width: 90%;
    height: auto;
}
.type {
    text-transform: lowercase;
}


/* quick facts */
#quick-facts {
    width: 100%;
    padding: 2em;
    margin: 0px;
    letter-spacing: normal;
}
#quick-facts h2 {
    text-align: left;
    margin-left: 0;
}
#quick-facts h3 {
    padding: .9em 0 .3em 0;
    margin: 0;
    font-size: 1.3em;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
}
#quick-facts p {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

/* gradient for rest */
.content {
  background-color: black;
  background-image: url(../images/stars.png);
}

/* about */
#about {
    /*background-color: #EDFBF5;*/
    top: 100%;
}
#about h2 {
    color: #F432D7;
}


/* schedule */
#schedule {
    /*background: #e9e3f5;
    background: -webkit-linear-gradient(#EDFBF5, #e9e3f5);
    background: -o-linear-gradient(#EDFBF5, #e9e3f5);
    background: -moz-linear-gradient(#EDFBF5, #e9e3f5);
    background: linear-gradient(#EDFBF5, #e9e3f5);*/
}
#schedule h3 {
    text-align: center;
}
.schedule-table {
    font-family: 'Orbitron', sans-serif;
    color:white;
}
.schedule-table td {
    letter-spacing: normal;
}


/* map */
#map {
    /*background-color: #e9e3f5;*/
    background-repeat: repeat-x;
    background-position: center;
    top: 300%;
}


/* override button defaults */
button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

/* footer */
footer {
    padding: 2em;
    background-color: black;
    background-image: url(../images/stars.png);
}
footer h3 {
    color: white;
    text-align: center;
}
footer h4 {
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: normal;
    margin-bottom: 0;
}
footer p {
    color: white;
    text-align: center;
    margin-top: 0;
    font-family: 'Orbitron', sans-serif;
}
footer a {
    color: rgba(105,193,209,1);
}


/* misc. */
.scroll-top{
    text-align: right;
    letter-spacing: normal;
    width: 100%;
}
.sponsor-link {
    text-align: right;
}
.links button {
    border: 2px solid white;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
}

/* marquee */
.digit {
  float: left;
  width: 14px;
  height: 26px;
  margin-right: 2px;
  background: #000 url(../images/ledmarquee.gif) 0px 0px;
}

#ledmarquee {
  height: 26px;
  visibility: hidden;
  background-color: #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
